*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  width: 320px;
  height: 400px;
  background-color: #fee440;
  box-shadow:#4cc9f0 0px 14px 28px, #4cc9f0 0px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border-radius: 20px;
  font-size: 18px;
}

input{
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  outline: none;
  text-align: center;
}

button{
  width: 200px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 30px;
  background-color: #4cc9f0;
  border: none;
}

#result{
  font-size: 25px;
}